<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>BUSQUEDA DE PRODUCTO POR NOMBRE</h1>




<form action="" method="GET">
    {{busqueda_formulario}}
    <button type="submit">Buscar</button>
</form>

{% if producto %}
    <ul>
    {% for p in producto %}
        <li>{{p.name_of_product}}</li>   
    {% endfor %}
    </ul>
{% else %}
    <h1> No hay coincidencias con su busqueda</h1>

{% endif %}



</body>
</html>